<!doctype html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Groove Style Login</title>

    <link rel="stylesheet" href="css/stylelog.css">

</head>

<body> <!-- partial:index.partial.html -->
    
            <section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
                <span></span>
                
                <div class="signin">

                    <div class="content">
                        <form action="" method="post">
                            <h2>GROOVE STYLE</h2>

                            <div class="form">

                                <div class="inputBox">

                                    <input type="text" name="username" required> <i>Username</i>

                                </div>
                                <div class="inputBox">
                                    <input type="email" name="email" required="[a-zA-Z0-9._%+-]+@gmail\.com$" title="Please enter a valid Gmail address"> 
                                    <i>E-mail</i>
                                </div>
                                
                                <div class="inputBox">

                                    <input type="text" name="phone" required> <i>Phone Number</i>

                                </div>

                                <div class="inputBox">

                                    <input type="password" name="password" required> <i>Password</i>

                                </div>
                                <div class="inputBox">

                                    <input type="password" name="confirmpassword" required> <i>Confirm Password</i>

                                </div>

                                <div class="links"> <a href="#">Already have an Account?</a> <a href="/login">Log In</a>

                                </div>

                                <div class="inputBox">

                                    <input type="submit" value="SignUp">

                                </div>

                            </div>

                        </form>
                        <% if (messages.length > 0) { %>
                            <div style="color: red;">
                                <%= messages[0] %>
                            </div>
                        <% } %> 
                    </div>

                </div>

            </section> <!-- partial -->


            

</body>

</html>