const loadOffers = async (req, res) => {
  try {
      const offer = await Offer.find({})
      res.render('Admin/offer', { offer })
  } catch (error) {

  }
}

const loadAddOffer = async (req, res) => {
  try {
      const messages = req.flash('message');
      res.render('Admin/addOffer', { messages })
  } catch (error) {

  }
}

const addOffer = async (req, res) => {
  try {
      const { offerName, offerPercentage, startingDate, EndingDate } = req.body;

      const existingOffer = await Offer.findOne({ name: offerName.toUpperCase() });

      if (existingOffer) {
          req.flash('message', 'Offer already exists');
          return res.redirect('/admin/offers/addOffer');
      }

      const newOffer = new Offer({
          name: offerName.toUpperCase(),
          percentage: offerPercentage,
          startingDate: startingDate,
          expiryDate: EndingDate,
          status: true,
      });

      await newOffer.save();

      res.redirect('/admin/offers')
  } catch (error) {
      console.error('Error adding offer:', error);
      res.status(500).json({ success: false, message: 'Server error' });
  }
};


const loadEditOffer = async (req, res) => {
  try {
      const offerId = req.query.offerId;
      const offer = await Offer.findById(offerId);


      res.render('Admin/editOffer', { offer });
  } catch (error) {
      console.error('Error loading edit offer page:', error);
      res.status(500).send('Internal Server Error');
  }
};

const editOffer = async (req, res) => {
  try {
      const offerId = req.query.offerId;
      const { offerName, offerPercentage, startingDate, EndingDate } = req.body;



      const updatedOffer = await Offer.findByIdAndUpdate(
          offerId,
          {
              name: offerName.toUpperCase(),
              percentage: offerPercentage,
              startingDate: startingDate,
              expiryDate: EndingDate,
          },
          { new: true }
      );

      // You can set a success flash message if needed
      req.flash('message', 'Offer updated successfully');

      res.redirect('/admin/offers');
  } catch (error) {
      console.error('Error updating offer:', error);
      req.flash('message', 'Error updating offer');
      res.redirect('/500');
  }
};

const activateInactivateOffer=async(req,res)=>{
  try {
      const offerId = req.body.offerId;
      const offer = await Offer.findById(offerId);
      if (!offer) {
          return res.status(404).json({ success: false, message: 'offer not found' });
      }
      offer.status = !offer.status;
      await offer.save();
      res.json({ success: true, message: 'offer status updated successfully' });
  } catch (error) {
      res.redirect('/500')
  }
}

const deleteOffer=async(req,res)=>{
  try {
      const offerId = req.body.offerId;
      console.log(offerId);
      const offer = await Offer.findById(offerId);
      if (!offer) {
          return res.status(404).json({ success: false, message: 'Offer not found' });
      }
      await Offer.deleteOne({ _id: offerId })
      res.json({ success: true })
  } catch (error) {
      
  }
}